local/bin/yuzu-mainline.AppImage filter=lfs diff=lfs merge=lfs -text
local/bin/LegacyLauncher_legacy.jar filter=lfs diff=lfs merge=lfs -text
local/bin/ryujinx-x64.AppImage filter=lfs diff=lfs merge=lfs -text
